.DS_Store
mobile/Casino/Casino.xcodeproj/project.xcworkspace/xcuserdata/petrus.xcuserdatad/
mobile/Casino/Casino.xcodeproj/xcuserdata/petrus.xcuserdatad/
mobile/Casino2/Casino2.xcodeproj/project.xcworkspace/
mobile/Casino2/Casino2.xcodeproj/xcuserdata/